:root {
  --v-anchor-base: #0097a7;
  --v-primary-base: #0097a7;
  --v-primary-darken1: #00838f;
  --v-primary-lighten1: #80deea;
  --v-secondary-base: #ffa726;
  --v-secondary-lighten5: #ffffb5;
  --v-secondary-lighten4: #ffff98;
  --v-secondary-lighten3: #fffb7c;
  --v-secondary-lighten2: #ffde61;
  --v-secondary-lighten1: #ffc245;
  --v-secondary-darken1: #df8d00;
  --v-secondary-darken2: #c07300;
  --v-secondary-darken3: #a25a00;
  --v-secondary-darken4: #854200;
  --v-accent-base: #7c4dff;
  --v-accent-lighten5: #ffd5ff;
  --v-accent-lighten4: #f8b8ff;
  --v-accent-lighten3: #d99dff;
  --v-accent-lighten2: #ba81ff;
  --v-accent-lighten1: #9b67ff;
  --v-accent-darken1: #5c33e2;
  --v-accent-darken2: #3718c5;
  --v-accent-darken3: #0000a9;
  --v-accent-darken4: #00008d;
  --v-error-base: #d50000;
  --v-error-lighten5: #ffb082;
  --v-error-lighten4: #ff9268;
  --v-error-lighten3: #ff754e;
  --v-error-lighten2: #ff5736;
  --v-error-lighten1: #f6361d;
  --v-error-darken1: #b40000;
  --v-error-darken2: #950000;
  --v-error-darken3: #700;
  --v-error-darken4: #5c0000;
  --v-info-base: #42a5f5;
  --v-info-lighten5: #e4ffff;
  --v-info-lighten4: #c5ffff;
  --v-info-lighten3: #a6f8ff;
  --v-info-lighten2: #87dcff;
  --v-info-lighten1: #66c0ff;
  --v-info-darken1: #018bd8;
  --v-info-darken2: #0072bc;
  --v-info-darken3: #0059a1;
  --v-info-darken4: #004286;
  --v-success-base: #00c853;
  --v-success-lighten5: #c4ffdb;
  --v-success-lighten4: #a5ffbf;
  --v-success-lighten3: #85ffa3;
  --v-success-lighten2: #65ff88;
  --v-success-lighten1: #41e56d;
  --v-success-darken1: #00ac39;
  --v-success-darken2: #00901e;
  --v-success-darken3: #007500;
  --v-success-darken4: #005b00;
  --v-warning-base: #ffa000;
  --v-warning-lighten5: #ffffa4;
  --v-warning-lighten4: #ffff87;
  --v-warning-lighten3: #fff36b;
  --v-warning-lighten2: #ffd74e;
  --v-warning-lighten1: #ffbb30;
  --v-warning-darken1: #df8600;
  --v-warning-darken2: #c06c00;
  --v-warning-darken3: #a15400;
  --v-warning-darken4: #843c00;
  --v-background-base: #f2f3f7;
  --v-background-lighten5: #fff;
  --v-background-lighten4: #fff;
  --v-background-lighten3: #fff;
  --v-background-lighten2: #fff;
  --v-background-lighten1: #fff;
  --v-background-darken1: #d6d7db;
  --v-background-darken2: #babbbf;
  --v-background-darken3: #9fa0a4;
  --v-background-darken4: #858689;
  --v-neu-base: undefined;
  --v-neu-darken1: #dde4ef;
  --v-neu-lighten1: #fff;
  --v-primaryBgText-base: #fff;
  --v-primaryBgText-lighten5: #fff;
  --v-primaryBgText-lighten4: #fff;
  --v-primaryBgText-lighten3: #fff;
  --v-primaryBgText-lighten2: #fff;
  --v-primaryBgText-lighten1: #fff;
  --v-primaryBgText-darken1: #e2e2e2;
  --v-primaryBgText-darken2: #c6c6c6;
  --v-primaryBgText-darken3: #ababab;
  --v-primaryBgText-darken4: #919191;
  --v-secondaryBgText-base: #fff;
  --v-secondaryBgText-lighten5: #fff;
  --v-secondaryBgText-lighten4: #fff;
  --v-secondaryBgText-lighten3: #fff;
  --v-secondaryBgText-lighten2: #fff;
  --v-secondaryBgText-lighten1: #fff;
  --v-secondaryBgText-darken1: #e2e2e2;
  --v-secondaryBgText-darken2: #c6c6c6;
  --v-secondaryBgText-darken3: #ababab;
  --v-secondaryBgText-darken4: #919191;
}