@import './mixins/mixins.scss';
@import './common/var.scss';

$buttonType: (
  primary: (
    color: $--color-primary,
    hover: $--color-primary-lighter
  ),
  success: (
    color: $--color-success,
    hover: $--color-success-light
  ),
  warning: (
    color: $--color-warning,
    hover: $--color-warning-light
  ),
  danger: (
    color: $--color-danger,
    hover: $--color-danger-light
  ),
  info: (
    color: $--color-info,
    hover: $--color-info-light
  ),
  default: (
    color: $--color-white,
    hover: $--color-white
  )
);

.#{$namespace}-button {
  display: inline-block;
  padding: 0.85em 1.5em;
  font-size: 14px;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  outline: none;

  @each $type, $color in $buttonType {
    @if ($type != 'default') {
      &--#{$type} {
        color: $--color-white;
        background: map-get($color, color);
        border: 1px solid map-get($color, color);

        &:hover, &:active {
          background: mix(map-get($color, color), $--color-white, 70%) ;
          border: 1px solid mix(map-get($color, color), $--color-white, 70%) ;
        }
      }
    } @else {
      &--#{$type} {
        background: map-get($color, color);
        border: 1px solid $--border-color-default;
      }
    }
  }

  + .#{$namespace}-button {
    margin-left: 10px;
  }
}
